@tailwind base;
@tailwind components;
@tailwind utilities;


.partial{
    position: relative;
    padding-bottom: 5px;
}
.partial::after{
    content: "";
    position: absolute;
    width: 4em;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 0;
}

.partial-sm::after{ 
    width: 3em;  
}